<style>
    .pra{
        background: #fff;
    }
</style>
<section data-background="/photos/{{ user }}/picjumbo.com_HNCK9012.jpg">
    <p>{{ nombre }} <br>{{ apellido }}</p>
    <p><small>...</small></p>
    <h3 class="css-typing"> <span data-typer-targets="... "> </span></h3>
</section>
<section>
    <section data-background="/photos/gray-carpet-and-white.jpg">
        <p class="pre">Suma Binaria</p>
        <p class="pre pra">
            La suma de dos números binarios se realiza exactamente de la misma forma que la suma de números decimales.
            De hecho, la suma binaria es más simple debido a que hay menos casos que aprender.
        </p>
    </section>
    <section data-background="/photos/gray-carpet-and-white.jpg">
        <p class="pre">Reglas de la Suma</p>
        <p class="pre pra">
            0 + 0 = 0 <br>
            0 + 1 = 1 <br>
            1 + 0 = 1 <br>
            1 + 1 = 10 <br>

        </p>
    </section>
    <section data-background="/photos/gray-carpet-and-white.jpg">
        <p class="pre">Se produce un acarreo cuando la suma es mayor que 1:</p>
        <img src="/assets/img/presenter/carry.png" alt="">
    </section>

    <section data-background="/photos/gray-carpet-and-white.jpg">
        <p class="pre">
            Ejemplos
        </p>
        <img src="/assets/img/presenter/image2.png" alt="">
    </section>
</section>
<section data-background="/photos/gray-carpet-and-white.jpg">
    <p class="pre">
        Circuito semi-sumador  no estandarizado
    </p>
    <img src="/photos/{{ user }}/image5.png" alt="">
</section>
<section data-background="/photos/gray-carpet-and-white.jpg">
    <p class="pre">
        Circuito semi-sumador estandarizado
    </p>
    <img src="/photos/{{ user }}/image6.png" alt="">
</section>
<section data-background="/photos/gray-carpet-and-white.jpg">
    <p class="pre">
        Circuito semi-sumador
    </p>
    <img src="/photos/{{ user }}/image7.png" alt="">
</section>