<style>
    .pra{
        background: #fff;
    }
    .preq{
        background: #333;
    }
</style>
<section data-background="/photos/{{ user }}/medic.jpg">

         <p>{{ nombre }} <br>{{ apellido }}</p>
		<p><small>...</small></p>
        <h3 class="css-typing"> <span data-typer-targets="... "> </span></h3>
</section>

<section data-background="/photos/gray-carpet-and-white.jpg">
    <p class="pre">
        EL GABINETE
    </p>
    <img src="/photos/{{ user }}/image1.jpeg" alt="" height="25%" width="25%">
    <p class="pre pra">
        El gabinete de la computadora es la caja de metal y plástico que aloja a los componentes principales.
        Los gabinetes de las computadoras vienen en distintos tamaños y formas.
        Un gabinete de escritorio se coloca plano sobre el escritorio del usuario y, en la mayoría de los casos,
        el monitor se apoya sobre él. El gabinete en forma de torre que figura a continuación
    </p>
</section>

<section data-background="/photos/gray-carpet-and-white.jpg">
    <p class="pre">
        Placa Madre
    </p>
    <img src="/photos/{{ user }}/image2.jpeg" alt="">
    <p class="pre pra">
        El motherboard es el corazón de la computadora.
        El motherboard (tarjeta madre) contiene los conectores para conectar tarjetas adicionales (también llamadas tarjetas de expansión por ejemplo tarjetas de video, de red, MODEM, etc.).
    </p>
</section>

<section data-background="/photos/gray-carpet-and-white.jpg">
    <p class="pre">
        El microprocesador
    </p>
    <img src="/photos/{{ user }}/image3.jpeg" alt="" width="25%" height="25%">
    <p class="pre pra">
        El microprocesador es un circuito integrado que contiene todos los elementos necesarios para conformar una "unidad central de procesamiento",
        también es conocido como CPU (por sus siglas en inglés: Central Process Unit).
        En la actualidad este componente electrónico está compuesto por millones de transistores,
        integrados en una misma placa de silicio.
    </p>
</section>

<section data-background="/photos/gray-carpet-and-white.jpg">
    <p class="pre">
        MEMORIA RAM
    </p>
    <img src="/photos/{{ user }}/image4.jpeg" alt="" width="25%" height="25%">
    <p class="pre pra">
        RAM es acrónimo para random access memory (memoria de acceso aleatorio), es un tipo de memoria que puede ser accesado aleatoriamente; esto es,
        que cualquier byte de memoria puede ser accesado sin tocar los bytes predecesores.
        RAM es el tipo de memoria mas común encontrado en computadoras y otros dispositivos, como impresoras.
    </p>
</section>

<section data-background="/photos/gray-carpet-and-white.jpg">
    <p class="pre">
        Memoria Rom
    </p>
    <img src="/photos/{{ user }}/image5.jpeg" alt="" width="25%" height="25%">
    <p class="pre pra">
        ROM son las siglas de read-only memory, que significa "memoria de sólo lectura": una memoria de semiconductor destinada a ser leída y no destructible, es decir,
        que no se puede escribir sobre ella y que conserva intacta la información almacenada, incluso en el caso de que se interrumpa la corriente (memoria no volátil).
    </p>
</section>

<section data-background="/photos/gray-carpet-and-white.jpg">
    <p class="pre">
        Memoria Caché
    </p>
    <img src="/photos/{{ user }}/image6.jpeg" alt="" width="25%" height="25%">
    <p class="pre pra">
        Una memoria caché es una memoria en la que se almacenas una serie de datos para su rápido acceso.
        Básicamente, la memoria caché de un procesador es un tipo de memoria volátil (del tipo RAM), pero de una gran velocidad.
    </p>
</section>


<section data-background="/photos/gray-carpet-and-white.jpg">
    <p class="pre">
        Ciclo de Reloj
    </p>
    <img src="/photos/{{ user }}/image7.jpeg" alt="" width="25%" height="25%">
    <p class="pre pra">
        También denominado ciclos por segundo o frecuencia, este término hace referencia a la velocidad del procesador incorporado en la CPU del ordenador,
        y se mide en megaherzios (MHz). A mayor índice de frecuencia, más rápido es el procesador y,
        en consecuencia, el ordenador. Hace unos años era frecuente encontrar procesadores a 16 MHz,
        pero hoy en día lo normal es que éstos superen los 120 MHz.
    </p>
</section>

<section data-background="/photos/gray-carpet-and-white.jpg">
    <p class="pre">
        Tarjeta de Video
    </p>
    <img src="/photos/{{ user }}/image8.jpeg" alt="" width="25%" height="25%">
    <p class="pre pra">
        La tarjeta de video, es el componente encargado de generar la señal de video que se manda a la pantalla de video por medio de un cable.
        La tarjeta de video se encuentra normalmente en integrado al motherboard de la computadora o en una placa de expansión.
    </p>
</section>

<section data-background="/photos/gray-carpet-and-white.jpg">
    <p class="pre">
        BIOS
    </p>
    <p class="pre pra">
        Bios es un acrónimo de Basic input/output system (sistema básico de entrada / salida).
        El BIOS es el software que determina que puede hacer una computadora sin acceder programas de un disco.
        En las PCs, el BIOS contiene todo el código requerido para controlar el teclado,
        el monitor, las unidades de discos, las comunicaciones seriales, y otras tantas funciones.
    </p>
</section>

<section data-background="/photos/gray-carpet-and-white.jpg">
    <p class="pre">
        Discos Duros:
    </p>
    <img src="/photos/{{ user }}/image9.jpeg" alt="" width="25%" height="25%">
    <p class="pre pra">
        En informática, la unidad de disco duro o unidad de disco rígido (en inglés: Hard Disk Drive, HDD)
        es el dispositivo de almacenamiento de datos que emplea un sistema de grabación magnética para almacenar archivos digitales.
    </p>
</section>

<section data-background="/photos/gray-carpet-and-white.jpg">
    <p class="pre">
        Fuente de Poder
    </p>
    <img src="/photos/{{ user }}/image11.jpeg" alt="" width="25%" height="25%">
    <p class="pre pra">
        La fuente de poder es el componente que proporciona el poder eléctrico a la computadora.
        La mayoría de las computadoras pueden conectarse a un enchufe eléctrico estándar.
        La fuente de poder jala la cantidad requerida de electricidad y la convierte la corriente AC a corriente DC.
        También regula el voltaje para eliminar picos y crestas comunes en la mayoría de los sistemas eléctricos.
    </p>
</section>

<section data-background="/photos/gray-carpet-and-white.jpg">
    <p class="pre">
        Buses
    </p>
    <img src="/photos/{{ user }}/image12.jpeg" alt="" width="25%" height="25%">
    <p class="pre pra">
        En arquitectura de computadores, un bus puede conectar lógicamente varios periféricos sobre el mismo conjunto de cables.
        Aplicada a la informática, se relaciona con la idea de las transferencias internas de datos que se dan en un sistema computacional en funcionamiento.
        En el bus todos los nodos reciben los datos aunque no se dirijan a todos éstos
    </p>
</section>